<div class="content header-content-parent">
  <section class="header section-pedding">
    <p>Enter One or More IP Addresses and get their country</p>
    <button
      [disabled]="ips.invalid"
      mat-flat-button
      color="primary"
      (click)="addIp()"
      class="mb-2"
      type="button"
    >
      <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
      <span>Add</span>
    </button>
  </section>
  <mat-divider class="section-devider-margin" />
  <section class="ip-list section-pedding pb-0">
    <mat-list role="list" class="mt-2">
      @for (ipFormControl of ips.controls; track $index) {
      <mat-list-item class="item">
        <app-ip-lookup-item
          [ipFormControl]="ipFormControl"
          [number]="$index + 1"
        />
      </mat-list-item>
      }
    </mat-list>
  </section>
</div>
