:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ip-list {
  overflow: auto;
  padding-bottom: 0 !important;
}

mat-list-item,
mat-list {
  padding: 0;
}

// overide mat-list item height
.item {
  height: unset !important;
}
